.Gridproduct {
    grid-column: 1/6;
    height: 618px;
    background: brown;
    display: flex;
    overflow-y: scroll;
}

.Gridproduct ::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.Gridproduct {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.productPhoto {
    width: 50%;
    background: #ffffff;
    height: 100%;
}

.productInfo {
    width: 50%;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(236 236 236);
    height: 100%;
    -webkit-box-shadow: -11px 1px 16px -7px rgba(174, 174, 174, 0.2);
    -moz-box-shadow: -11px 1px 16px -7px rgba(174, 174, 174, 0.2);
    box-shadow: -11px 1px 16px -7px rgba(174, 174, 174, 0.2);
}

.img {
    margin: 0% 15%;
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin: 8% 8%;
    margin-bottom: 0%;
}

.price {
    font-size: 27px;
    font-weight: 500;
    margin: 3% 8%;
    margin-bottom: 0%;
}

.text {
    margin: 3% 8%;
    margin-bottom: 0%;
    font-size: 17px;
    font-weight: 300;
}

.add {
    margin: 10% 8%;
    height: 7%;
    width: 25%;
    border-radius: 11px;
    border: none;
    background: #469f80;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0%;
}

.sortingTitle {
    display: flex;
    margin: 7% 8%;
}

.tags {
    margin: 5% 2%;
}

.sort {
    font-size: 20px;
    margin: 27px 0%;
}